.popup__title{
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  color: black;
  margin: 0 0 34px;
}

@media screen and (max-width: 1024px){
  .popup__title{
    margin-top: 27px;
    margin-left: 22px;
    font-size: 18px;
    line-height: 21.78px;
  }
}