.popup__input {
  width: 358px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #000000;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin: 0 0 5px;
  padding: 0 0 10px 0;

}

/* .popup__input{

  height: 27.34px;


}

.popup__input:last-of-type{
  margin-top: 30px;
}

@media screen and (max-width: 1024px){
  .popup__input{
    max-width: 238px;
    margin-top: 52px;
    margin-left: 20px;
  }
  .popup__input:last-of-type{
    margin-top: 23px;
  }
} */