.profile__title{
  margin: 0;
  max-width: 294px;
  color: white;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .profile__title{
    max-width: 189px;
    font-size: 27px;
    line-height: 32.68px;
    margin-top: 26px;
  }
}