.elements{
  display: flex;
  max-width: 880px;
  min-width: 320px;
  margin: 0 auto 66px;
  box-sizing: border-box;
  justify-content: center;
}

@media screen and (max-width: 787px) {
  .elements{
    min-width: 282px;
    margin: 0;
  }
}