@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__info-case/profile__info-case.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__element/elements__element.css);
@import url(../blocks/elements/__image/elements__image.css);
@import url(../blocks/elements/__element-case/elements__element-case.css);
@import url(../blocks/elements/__name/elements__name.css);
@import url(../blocks/elements/__like-button/elements__like-button.css);
@import url(../blocks/elements/__delete-button/elements__delete-button.css);
@import url(../blocks/elements/__container/elements__container.css);
@import url(../blocks/elements/__like-button/_active/elements__like-button_active.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__box/popup__box.css);
@import url(../blocks/popup/__button-close/popup__button-close.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__input/_invalid/popup__input_invalid.css);
@import url(../blocks/popup/__button-submit/popup__button-submit.css);
@import url(../blocks/popup/__image-box/popup__image-box.css);
@import url(../blocks/popup/__error/popup__error.css);
@import url(../blocks/popup/__error/_visible/popup__error_visible.css);
@import url(../blocks/popup/__button-submit/_inactive/popup__button-submit_inactive.css);
@import url(../blocks/popup/__input-cover/popup__input-cover.css);

@import url(../blocks/popup-image/popup-image.css);

@import url(../blocks/figure/figure.css);
@import url(../blocks/figure/__image/figure__image.css);
@import url(../blocks/figure/__caption/figure__caption.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyrigh/footer__copyrigh.css);