.popup__box{
  position: relative;
  max-width: 430px;
  background-color: #fff;
  border-radius: 10px;
  padding: 34px 36px 37px;
}

@media screen and (max-width: 1024px){
  .popup__box{
    width: 282px;
  }
}